{% extends './layout.html' %}
{% block title %}Koa实战添加页{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
  <div id="app">
    <h2>[[ message ]]</h2>
  </div>
{% endblock %}
{% block scripts %}
  <script type="module">
    import('/js/add.js').then(_ => {
      const actionAdd = new _.default();
      actionAdd.actionAdd();
    });
  </script>
  <!-- <script nomodule src="https://cdn.bootcss.com/systemjs/3.1.6/system.js"></script>
  <script nomodule>
    System.import('/js/add-bundle.js').then(_ => {
      const actionAdd = new _.default();
      actionAdd.actionAdd();
    })
  </script> -->
{% endblock %}